body {
  padding-left: 35px;
  font-family: "Crimson Text", "Cambria", serif;
  font-size: 25px;
  line-height: 50px;
  color: #063F50;
  background-color: #f2f2f2;
  background-image: url("img/background.jpg");
}

section {
  width: 1024px;
  text-align: center;
}

h2 {
  padding-bottom: 12px;
  border-bottom: 2px solid #cccccc;
  text-align: left;
}

ul {
  text-align: left;
}
